<template>
    <ul class="chat chat-default" v-chat-scroll>
        <li class="left clearfix" v-for="message in messages">
            <div class="chat-body clearfix">
                <div class="header" v-if="message.user">
                    <strong class="primary-font">
                        {{ message.user.first_name }} {{ message.user.last_name }}
                    </strong>
                </div>
                <p>
                    {{ message.message }}
                </p>
            </div>
        </li>
    </ul>
</template>

<script>
    export default {
        props: ['messages']
    };
</script>
