<template>
    <div class="input-group inline">
        <input type="text" name="message" class="form-control input-sm" placeholder="Введите текст..." v-model="newMessage" @keyup.enter="sendMessage">
        <button class="btn btn-primary btn-md" id="btn-chat" @click="sendMessage">
            <i class="icons icon-paper-plane"></i>
        </button>
    </div>
</template>

<script>
    export default {
        props: ['user'],

        data() {
            return {
                newMessage: ''
            }
        },

        methods: {
            sendMessage() {
                this.$emit('messagesent', {
                    user: this.user,
                    message: this.newMessage
                });

                this.newMessage = ''
            }
        }
    }
</script>
